<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homegrown Technology</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap" />
        <link rel="stylesheet" type="text/css" href="//assets.homegrown.technology/www/homegrown/css/site.css" />
    </head>
    <body>
        <div class="flex-center position-ref full-height">
            <div class="content">
                <div class="title m-b-md">
                    <span>Homegrown Technology</span>
                    <div class="strapline">Powering your world with technology that works</div>
                </div>
                <div class="links">
                    <a target="_blank" href="//internetlogics.co.uk">Internet Logics</a>
                    <a target="_blank" href="//mycustomemail.co.uk">My Custom Email</a>
                    <a target="_blank" href="//orqoo.co.uk">Orqoo Network Services</a>
                    <a target="_blank" href="//ravex.co.uk">RaveX IT Services</a>
                    <a target="_blank" href="//ruggeddns.co.uk">Rugged DNS</a>
                </div>
            </div>
        </div>
    </body>
</html>